body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #d1c7c7;
  }
  
  h2 {
    color: #d1c7c7;
  }
  
  #timer {
    font-size: 48px;
    color: #a797f0;
    margin-top: 20px;
  }